USE [QuanLyChuyenBay]
GO
/****** Object:  Table [dbo].[CHUYENBAY]    Script Date: 05/15/2018 11:02:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHUYENBAY](
	[MACB] [char](4) NOT NULL,
	[SBDI] [char](3) NULL,
	[SBDEN] [char](3) NULL,
	[GIODI] [time](7) NULL,
	[GIODEN] [time](7) NULL,
 CONSTRAINT [PK_ChuyenBay] PRIMARY KEY CLUSTERED 
(
	[MACB] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHUYENBAY] ([MACB], [SBDI], [SBDEN], [GIODI], [GIODEN]) VALUES (N'100 ', N'SLC', N'BOS', CAST(0x070040230E430000 AS Time), CAST(0x0700942E7A950000 AS Time))
INSERT [dbo].[CHUYENBAY] ([MACB], [SBDI], [SBDEN], [GIODI], [GIODEN]) VALUES (N'112 ', N'DCA', N'DEN', CAST(0x0700B0BD58750000 AS Time), CAST(0x07003A26DA970000 AS Time))
INSERT [dbo].[CHUYENBAY] ([MACB], [SBDI], [SBDEN], [GIODI], [GIODEN]) VALUES (N'121 ', N'STL', N'SLC', CAST(0x0700D85EAC3A0000 AS Time), CAST(0x070036D2404D0000 AS Time))
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 05/15/2018 11:02:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [char](15) NOT NULL,
	[TEN] [nchar](15) NULL,
	[DCHI] [nchar](50) NULL,
	[DTHOAI] [char](12) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [TEN], [DCHI], [DTHOAI]) VALUES (N'0009           ', N'nga            ', N'46 nguyen trai                                    ', N'1313656     ')
INSERT [dbo].[KHACHHANG] ([MAKH], [TEN], [DCHI], [DTHOAI]) VALUES (N'0012           ', N'ha             ', N'023 quang trung                                   ', N'2464032     ')
INSERT [dbo].[KHACHHANG] ([MAKH], [TEN], [DCHI], [DTHOAI]) VALUES (N'0045           ', N'thu            ', N'156 le loi                                        ', N'2110213     ')
/****** Object:  Table [dbo].[LOAIMB]    Script Date: 05/15/2018 11:02:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAIMB](
	[MALOAI] [char](15) NOT NULL,
	[HANGSX] [nchar](15) NULL,
 CONSTRAINT [PK_LoaiMB] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[LOAIMB] ([MALOAI], [HANGSX]) VALUES (N'A310           ', N'AIRBUS         ')
INSERT [dbo].[LOAIMB] ([MALOAI], [HANGSX]) VALUES (N'A320           ', N'AIRBUS         ')
INSERT [dbo].[LOAIMB] ([MALOAI], [HANGSX]) VALUES (N'A330           ', N'AIRBUS         ')
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 05/15/2018 11:02:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](15) NOT NULL,
	[TEN] [nchar](15) NULL,
	[DCHI] [nchar](50) NULL,
	[DTHOAI] [char](12) NULL,
	[LUONG] [float] NULL,
	[LOAINV] [int] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[NHANVIEN] ([MANV], [TEN], [DCHI], [DTHOAI], [LUONG], [LOAINV]) VALUES (N'1001           ', N'huong          ', N'8 dien bien phu                                   ', N'5332356     ', 500000, 1)
INSERT [dbo].[NHANVIEN] ([MANV], [TEN], [DCHI], [DTHOAI], [LUONG], [LOAINV]) VALUES (N'1002           ', N'phong          ', N'1 ly thuong kiet                                  ', N'4562476     ', 450000, 1)
INSERT [dbo].[NHANVIEN] ([MANV], [TEN], [DCHI], [DTHOAI], [LUONG], [LOAINV]) VALUES (N'1003           ', N'quang          ', N'75 truong dinh                                    ', N'1454254     ', 350000, 1)
/****** Object:  Table [dbo].[MAYBAY]    Script Date: 05/15/2018 11:02:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MAYBAY](
	[SOHIEU] [int] NOT NULL,
	[MALOAI] [char](15) NOT NULL,
 CONSTRAINT [PK_MAYBAY] PRIMARY KEY CLUSTERED 
(
	[SOHIEU] ASC,
	[MALOAI] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[MAYBAY] ([SOHIEU], [MALOAI]) VALUES (10, N'B747           ')
INSERT [dbo].[MAYBAY] ([SOHIEU], [MALOAI]) VALUES (11, N'B727           ')
INSERT [dbo].[MAYBAY] ([SOHIEU], [MALOAI]) VALUES (13, N'B727           ')
/****** Object:  Table [dbo].[KHANANG]    Script Date: 05/15/2018 11:02:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHANANG](
	[MANV] [char](15) NOT NULL,
	[MALOAI] [char](15) NOT NULL,
 CONSTRAINT [PK_KHANANG] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[MALOAI] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[KHANANG] ([MANV], [MALOAI]) VALUES (N'1001           ', N'B727           ')
INSERT [dbo].[KHANANG] ([MANV], [MALOAI]) VALUES (N'1001           ', N'B747           ')
INSERT [dbo].[KHANANG] ([MANV], [MALOAI]) VALUES (N'1001           ', N'DC10           ')
/****** Object:  Table [dbo].[LICHBAY]    Script Date: 05/15/2018 11:02:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LICHBAY](
	[NGAYDI] [date] NOT NULL,
	[MACB] [char](4) NOT NULL,
	[SOHIEU] [int] NULL,
	[MALOAI] [char](15) NULL,
 CONSTRAINT [PK_LichBay] PRIMARY KEY CLUSTERED 
(
	[NGAYDI] ASC,
	[MACB] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[LICHBAY] ([NGAYDI], [MACB], [SOHIEU], [MALOAI]) VALUES (CAST(0x37250B00 AS Date), N'100 ', 11, N'B727           ')
INSERT [dbo].[LICHBAY] ([NGAYDI], [MACB], [SOHIEU], [MALOAI]) VALUES (CAST(0x37250B00 AS Date), N'112 ', 11, N'B727           ')
INSERT [dbo].[LICHBAY] ([NGAYDI], [MACB], [SOHIEU], [MALOAI]) VALUES (CAST(0x37250B00 AS Date), N'206 ', 13, N'B727           ')
/****** Object:  Table [dbo].[PHANCONG]    Script Date: 05/15/2018 11:02:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHANCONG](
	[MANV] [char](15) NOT NULL,
	[NGAYDI] [date] NOT NULL,
	[MACB] [char](4) NOT NULL,
 CONSTRAINT [PK_PhanCong] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[NGAYDI] ASC,
	[MACB] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PHANCONG] ([MANV], [NGAYDI], [MACB]) VALUES (N'1001           ', CAST(0x37250B00 AS Date), N'100 ')
INSERT [dbo].[PHANCONG] ([MANV], [NGAYDI], [MACB]) VALUES (N'1001           ', CAST(0x38250B00 AS Date), N'100 ')
INSERT [dbo].[PHANCONG] ([MANV], [NGAYDI], [MACB]) VALUES (N'1002           ', CAST(0x37250B00 AS Date), N'100 ')
/****** Object:  Table [dbo].[DATCHO]    Script Date: 05/15/2018 11:02:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DATCHO](
	[MAKH] [char](15) NOT NULL,
	[NGAYDI] [date] NOT NULL,
	[MACB] [char](4) NOT NULL,
 CONSTRAINT [PK_DatCho] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC,
	[NGAYDI] ASC,
	[MACB] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DATCHO] ([MAKH], [NGAYDI], [MACB]) VALUES (N'0009           ', CAST(0x37250B00 AS Date), N'449 ')
INSERT [dbo].[DATCHO] ([MAKH], [NGAYDI], [MACB]) VALUES (N'0009           ', CAST(0x38250B00 AS Date), N'100 ')
INSERT [dbo].[DATCHO] ([MAKH], [NGAYDI], [MACB]) VALUES (N'0012           ', CAST(0x37250B00 AS Date), N'206 ')
/****** Object:  Check [CK__CHUYENBAY__0EA330E9]    Script Date: 05/15/2018 11:02:45 ******/
ALTER TABLE [dbo].[CHUYENBAY]  WITH CHECK ADD  CONSTRAINT [CK__CHUYENBAY__0EA330E9] CHECK  (([GIODI]<[GIODEN]))
GO
ALTER TABLE [dbo].[CHUYENBAY] CHECK CONSTRAINT [CK__CHUYENBAY__0EA330E9]
GO
/****** Object:  Check [CK__NHANVIEN__LOAINV__0F975522]    Script Date: 05/15/2018 11:02:45 ******/
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD CHECK  (([LOAINV]=(0) OR [LOAINV]=(1)))
GO
/****** Object:  ForeignKey [FK_DATCHO_KHACHHANG]    Script Date: 05/15/2018 11:02:45 ******/
ALTER TABLE [dbo].[DATCHO]  WITH CHECK ADD  CONSTRAINT [FK_DATCHO_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DATCHO] CHECK CONSTRAINT [FK_DATCHO_KHACHHANG]
GO
/****** Object:  ForeignKey [FK_DATCHO_LICHBAY]    Script Date: 05/15/2018 11:02:45 ******/
ALTER TABLE [dbo].[DATCHO]  WITH CHECK ADD  CONSTRAINT [FK_DATCHO_LICHBAY] FOREIGN KEY([NGAYDI], [MACB])
REFERENCES [dbo].[LICHBAY] ([NGAYDI], [MACB])
GO
ALTER TABLE [dbo].[DATCHO] CHECK CONSTRAINT [FK_DATCHO_LICHBAY]
GO
/****** Object:  ForeignKey [FK_KHANANG_LOAIMB]    Script Date: 05/15/2018 11:02:45 ******/
ALTER TABLE [dbo].[KHANANG]  WITH CHECK ADD  CONSTRAINT [FK_KHANANG_LOAIMB] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIMB] ([MALOAI])
GO
ALTER TABLE [dbo].[KHANANG] CHECK CONSTRAINT [FK_KHANANG_LOAIMB]
GO
/****** Object:  ForeignKey [FK_KHANANG_NHANVIEN]    Script Date: 05/15/2018 11:02:45 ******/
ALTER TABLE [dbo].[KHANANG]  WITH CHECK ADD  CONSTRAINT [FK_KHANANG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KHANANG] CHECK CONSTRAINT [FK_KHANANG_NHANVIEN]
GO
/****** Object:  ForeignKey [FK_LICHBAY_CHUYENBAY]    Script Date: 05/15/2018 11:02:45 ******/
ALTER TABLE [dbo].[LICHBAY]  WITH CHECK ADD  CONSTRAINT [FK_LICHBAY_CHUYENBAY] FOREIGN KEY([MACB])
REFERENCES [dbo].[CHUYENBAY] ([MACB])
GO
ALTER TABLE [dbo].[LICHBAY] CHECK CONSTRAINT [FK_LICHBAY_CHUYENBAY]
GO
/****** Object:  ForeignKey [FK_LICHBAY_MAYBAY]    Script Date: 05/15/2018 11:02:45 ******/
ALTER TABLE [dbo].[LICHBAY]  WITH CHECK ADD  CONSTRAINT [FK_LICHBAY_MAYBAY] FOREIGN KEY([SOHIEU], [MALOAI])
REFERENCES [dbo].[MAYBAY] ([SOHIEU], [MALOAI])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LICHBAY] CHECK CONSTRAINT [FK_LICHBAY_MAYBAY]
GO
/****** Object:  ForeignKey [FK_MAYBAY_LOAIMB1]    Script Date: 05/15/2018 11:02:45 ******/
ALTER TABLE [dbo].[MAYBAY]  WITH CHECK ADD  CONSTRAINT [FK_MAYBAY_LOAIMB1] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIMB] ([MALOAI])
GO
ALTER TABLE [dbo].[MAYBAY] CHECK CONSTRAINT [FK_MAYBAY_LOAIMB1]
GO
/****** Object:  ForeignKey [FK_PHANCONG_LICHBAY]    Script Date: 05/15/2018 11:02:45 ******/
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONG_LICHBAY] FOREIGN KEY([NGAYDI], [MACB])
REFERENCES [dbo].[LICHBAY] ([NGAYDI], [MACB])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [FK_PHANCONG_LICHBAY]
GO
/****** Object:  ForeignKey [FK_PHANCONG_NHANVIEN]    Script Date: 05/15/2018 11:02:45 ******/
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [FK_PHANCONG_NHANVIEN]
GO
